<div class="fluid-container blueprint">

  <div class="row">
    
    <div class="col-md-4">
      <h4 mat-dialog-title>Create a new diploma blueprint</h4>
      
      <mat-dialog-content class="mat-typography">
        <form [formGroup]="diplomaBlueprintForm">
          <mat-form-field >
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Ex. Eng diploma" >
          </mat-form-field>
          <mat-form-field >
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" placeholder="Ex. this diploma..."></textarea>
          </mat-form-field>
          <mat-form-field >
            <mat-label>Speciality</mat-label>
            <input matInput formControlName="speciality" placeholder="Ex. Cybersecurity"/>
          </mat-form-field>
  
        </form>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button class="btn btn-secondary" (click)="close()">Cancel</button>
        <button mat-button class="btn btn-primary" (click)="createDiplomaBlueprint()" cdkFocusInitial>Create</button>
      </mat-dialog-actions>
    </div>
    
    <div class="col-md-8">

      <div class="diploma">
        <div class="diploma-header">
          <h2>{{diplomaBlueprintForm.get('title').value ||  'Diploma Title'}}</h2>
        </div>
        <div class="diploma-body">
          <div class="diploma-content">
            <h4>We hereby congratulate our student specialized in {{diplomaBlueprintForm.get('speciality').value ||  'SPECIALITY'}}</h4>
            <h2>Foulen Ben Falten</h2>
            <h4>{{diplomaBlueprintForm.get('description').value ||  'For the successful completion of this certification'}}  </h4>
          </div>
          <div class="diploma-image">
            <h3>INSAT</h3>
            <img src="assets/img/insatlogo.png">
          </div>
        </div>
        <div class="diploma-feet">
          <h4>Mr. Samir Hamza</h4>
          <h4>HASH</h4>
        </div>
      </div>

    </div>
  </div>
  
</div>