<footer class="footer">
    <div class="container-fluid">
        <nav class="col-8-md mx-auto">
            <ul>
                <li>
                    <a href="">
                        HOME
                    </a>
                </li>
                <li>
                    <a href="">
                        ABOUT
                    </a>
                </li>
                <li>
                    <a href="">
                        GUIDE
                    </a>
                </li>
                <li>
                    <a href="">
                        GITHUB
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright mx-auto">
            &copy; 2020, All rights reserved for INSAT - TUNISIA
        </div>
    </div>
</footer>
