<div class="card" (click)="popDiploma()">
      <div class="card-header card-header-icon" [ngClass]="{'card-header-success': diploma.validated,'card-header-warning':!diploma.validated}">

  <div class="card-header card-header-icon card-header-success">
    <div class="card-icon">
      <i class="material-icons">{{diploma.validated ?'check_box':'hourglass_top'}}</i>
    </div>

    <h4 class="card-title">Diploma {{diploma.title ||  'Diploma Title'}}</h4>
  </div>
  <div class="card-body">
    <p class="card-category">Honors {{diploma.honors ||  'Diploma Honors'}}</p>
  </div>
</div>

<!-- this will be the template used for the modal-->

<ng-template #diplomaModal>
  <mat-dialog-content class="mat-typography">
    <div class="col">
      <div class="diploma">
        <div class="diploma-header">
          <h2>{{diploma.title ||  'Diploma Title'}}</h2>
        </div>
        <div class="diploma-body">
          <div class="diploma-content">
            <h4>We hereby congratulate our student specialized in {{diploma.speciality ||  'SPECIALITY'}}</h4>
            <h2>{{student? student.firstName + ' '+student.lastName : 'Foulen Ben Falten' }}</h2>
            <h4>{{diploma.description ||  'For the successful completion of this certification'}}  </h4>
          </div>
          <div class="diploma-image">
            <h3>INSAT</h3>
            <img src="assets/img/insatlogo.png">
          </div>
        </div>
        <div class="diploma-feet">
          <h4>Mr. Samir Hamza</h4>
          <h4>{{diploma.id.toString().slice(0,8) || 'Diploma Id Value'}}</h4>
        </div>
      </div>

    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button class="btn btn-secondary" mat-dialog-close>
      Cancel
    </button>
    
    <a [href]="downloadJsonHref" [download]="fileName">
      <button
      mat-button
      class="btn btn-primary"
      [mat-dialog-close]="true"
      cdkFocusInitial
    >
      Share
    </button>
    </a>
      
    
  </mat-dialog-actions>
</ng-template>
