<section class="row">

  <div class="col-md-12 mx-auto">
    <div class="card">
      <div class="card-header card-header-info">
        <h3 class="card-title pull-left">Received Verifiable Diploma</h3>
        <button class="btn btn-secondary btn-fab btn-round pull-right" (click)="openDialog()"><i class="material-icons"  >add</i></button>
      </div>
      
      <!-- to be changed to receive real stuff-->
      <app-diploma-list [student]='student' [diplomas]='diplomas'></app-diploma-list>
    </div>
  </div>

  
</section>