<div class="row">
  <div class="col-md-10 mx-auto">
    <button class="btn btn-secondary" routerLink="/admin/diploma-issue">
      <i class="material-icons">add</i> Issue Diploma
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-10 mx-auto">
    <div class="card">
      <div class="card-header card-header-info">
        <h3 class="card-title pull-left">Your Issued Diploma Blueprint/Collection</h3>
        <button class="btn btn-secondary btn-fab btn-round pull-right" (click)="openDialog()">
          <i class="material-icons">add</i>
        </button>
      </div>

      <!-- to be changed to receive real stuff-->
      <div class="card-body" *ngIf="diplomaBluePrints.length==0">
        You can add diploma blueprint
      </div>
      <div id="diploma-list" *ngIf="diplomaBluePrints.length!=0" class="card-body d-flex flex-row flex-wrap">
        <div class="card col-md-4 mx-4" *ngFor="let diplomaBP of diplomaBluePrints">
          <div class="card-header">
            <h4 class="card-title">{{diplomaBP.title || 'N/A'}}</h4>
            <p class="card-category">Speciality : {{diplomaBP.speciality}} </p>
          </div>
          <div class="card-body">
            Establishement : Insat
          </div>
        </div>
      </div>
      <!--  <div class="card-footer clearfix">
        
                <button mat-raised-button class="btn btn-primary pull-left">Issue</button>
                <button mat-raised-button class="btn btn-fab btn-round pull-right">+</button>
        
              </div> -->
    </div>
  </div>
</div>